////
/// Navigation
////

// Navigation main
// inspired https://medium.com/@kollinz/hamburger-menu-alternatives-for-mobile-navigation-a3a3beb555b8#.hg6g5yhtd

nav {
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.nav-main {
  ul {
    margin: 0;
    padding: $base-line/6 0 $base-line/2;
    min-width: 100%;
    list-style: none;
    text-align: left;
    @media #{$medium-up} {
      .wrapper--flex & {
        text-align: right;
      }
    }
  }
  li {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.2rem 1.6rem 0;
  }
  a {
    font-weight: bold;
    & + & {
       margin-left: 1em;
    }
  }
}

.nav-main__scroll {
  overflow-y: hidden;
  height: 40px;
  @media #{$small-only} {
    width: 100vw;
  }
  ul {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 100px;
    white-space: nowrap;
    //text-align: center;
  }
}