<link rel="apple-touch-icon" sizes="57x57" href={{ "/assets/favicons/apple-icon-57x57.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="60x60" href={{ "/assets/favicons/apple-icon-60x60.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="72x72" href={{ "/assets/favicons/apple-icon-72x72.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="76x76" href={{ "/assets/favicons/apple-icon-76x76.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="114x114" href={{ "/assets/favicons/apple-icon-114x114.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="120x120" href={{ "/assets/favicons/apple-icon-120x120.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="144x144" href={{ "/assets/favicons/apple-icon-144x144.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="152x152" href={{ "/assets/favicons/apple-icon-152x152.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="180x180" href={{ "/assets/favicons/apple-icon-180x180.png" | relative_url }}>
<link rel="icon" type="image/png" href={{ "/assets/favicons/favicon-32x32.png" sizes="32x32" | relative_url }}>
<link rel="icon" type="image/png" href={{ "/assets/favicons/android-chrome-192x192.png" sizes="192x192" | relative_url }}>
<link rel="icon" type="image/png" href={{ "/assets/favicons/favicon-96x96.png" sizes="96x96" | relative_url }}>
<link rel="icon" type="image/png" href={{ "/assets/favicons/favicon-16x16.png" sizes="16x16" | relative_url }}>
<link rel="manifest" href={{ "/assets/favicons/manifest.json" | relative_url }}>
<link rel="shortcut icon" href={{ "/assets/favicons/favicon.ico" | relative_url }}>
<meta name="msapplication-TileColor" content="#000">
<meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png" | relative_url }}>
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml" | relative_url }}>
<meta name="theme-color" content="#000">
