<div class="skip-links">
  <a href="#main">Contenu principal</a>
</div>
{% for page in site.html_pages %}
  {% if page.navigation %}
    {% assign loopindex = loopindex | plus: 1 %}
  {% endif %}
{% endfor %}
<header class="site-header" role="banner">

  <div class="wrapper {% if loopindex <= 3 %}wrapper--flex{% endif %}">

    <div class="site-logo">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="nav-main" role="navigation">
      <ul>
        {% for page in site.html_pages %}
          {% if page.navigation %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
