{% if page.previous || page.next %}

<div class="pagination--prevnext" role="navigation">

  {% if page.previous %}
  <div class="pagination--prev">
    <a class="pagination--item" href="{{ page.previous.url }}">
      {{ page.previous.title }}
    </a>
  </div>
  {% endif %}

  {% if page.next %}
  <div class="pagination--next">
    <a class="pagination--item" href="{{ page.next.url }}">
      {{ page.next.title }}
    </a>
  </div>
  {% endif %}

</div>
{% else %}
<div class="pagination--prevnext" role="navigation">
  {% if page.title == 'Transmutation' %}
    <div class="pagination--prev">
      <a class="pagination--item" href="/2015/10/03/parisweb-cest-quoi-les-metiers-du-web">
        ParisWeb - c'est quoi les métiers du web ?
      </a>
    </div>
    <div class="pagination--next">
      <a class="pagination--item" href="/2016/03/31/processus-edition/">
        Mon processus d'édition
      </a>
    </div>
  {% endif %}
</div>
{% endif %}
