
//
// Print
//
// Quelques astuces trouvées chez Alsa :
// http://www.alsacreations.com/tuto/lire/586-feuille-style-css-print-impression.html
// http://www.alsacreations.com/astuce/lire/1160-une-feuille-de-styles-de-base-pour-le-media-print.html
////

@media print {

  html{
    font-size:13pt;
  }
  body{
    color:#000;
  }
  a,
  header a{
    color:#000;
  }
  p, blockquote {
    orphans: 3;
    widows: 3;
  }
  blockquote, ul, ol {
    page-break-inside: avoid;
  }
  h1, h2, h3, caption {
    page-break-after: avoid;
  }
  .wrapper{
    max-width: none;
    margin:0;
  }
  header{
    background: none;
  }
  nav,
  .breadcrumb{
    display:none;
  }

}
