
//
// Skiplink
//

/* styling skip links */
.skip-links {
  position: absolute;
  top: 0;
  width: 100%;
  & a {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0.5em;
    background: black;
    color: white;
    text-decoration: none;

    &:focus {
      position: static;
      overflow: visible;
      clip: auto;
    }
  }
}