////
/// Colors
////

// Better colors for development
//-------------------------------------

$gray:                    #495057;
$red:                     #f03e3e;
$pink:                    #d6336c;
$grape:                   #ae3ec9;
$violet:                  #7048e8;
$indigo:                  #4263eb;
$blue:                    #1c7cd6;
$cyan:                    #1098ad;
$teal:                    #0ca678;
$green:                   #37b24d;
$lime:                    #74b816;
$yellow:                  #f59f00;
$orange:                  #f76707;


// Site color
//-------------------------------------

// Choose color among https://yeun.github.io/open-color/

$color-primary:           color(grey,7);
$color-primary-light:     color(gray,2);
$color-primary-dark:      color(gray,9);

$color-secondary:         color(yellow,7);
$color-secondary-light:   color(yellow,2);
$color-secondary-dark:    color(yellow,8);

$color-grey:              color(gray,7);
$color-grey-light:        color(gray,2);
$color-grey-dark:         color(gray,9);

$title-color:             #000;
$title-link-color:        #000;
$text-color:              $color-grey-dark;
$link-color:              #000;
$background-color:        $color-grey-light;
