////
/// Typography
////

// Our variables
//-------------------------------------
$base-font-family:        Overpass, Helvetica, Arial, sans-serif;

$ratio:                   1.20;
$base:                    1;
$base-em:                 $base * 1em;
$base-px:                 $base * 16px;

$ms0:                     1;
$ms1:                     $ratio;        /* 1.2   */
$ms2:                     $ratio * $ms1; /* 1.44  */
$ms3:                     $ratio * $ms2; /* 1.728 */
$ms4:                     $ratio * $ms3; /* 2.074 */
$ms5:                     $ratio * $ms4; /* 2.488 */
$ms6:                     $ratio * $ms5; /* 2.986 */
$ms7:                     $ratio * $ms6; /* 3.583 */

$small:                   $base-em / $ms1;
$normal:                  $base-em * $ms0;
$big:                     $base-em * $ms1;
$bigger:                  $base-em * $ms2;
$title2:                  $base-em * $ms3;
$title1:                  $base-em * $ms4;

$line-height-base:        $base * $ms2;
$line-height-computed:    floor(($base-em * $line-height-base));
$base-line:               $line-height-computed;

body {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: $base-em * $ms0;
  line-height: $base * $ms2;
}

h3,
h2 { line-height: $base * $ms1; }
h1 { line-height: $base * $ms0; }

h6, .h6 { font-size: $small; }
h5, .h5 { font-size: $normal; }
h4, .h4 { font-size: $big; }
h3, .h3 { font-size: $bigger; }
h2, .h2 { font-size: $title2; }
h1, .h1 { font-size: $title1; }

@media #{$medium-up} {
  body { font-size: $base-em * $ms1; }
}

@media #{$large-up} {
  body { font-size: $base-em * $ms2; }
}

@media #{$xlarge-up} {
  body { font-size: $base-em * $ms3; }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  word-wrap: break-word;
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed);

  small,
  .small {
    font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1,h2,h3,h4,h5,h6 {
  &,a {
    text-decoration: none;
  }
}

p {
  margin: 0 0 ($line-height-computed / 2);
}
