////
/// Header
////

// Site Header
.site-header {
  padding: 0.5em 0 0;
  text-align: center;
  @media #{$medium-up} {
    padding-bottom: $base-line;
  }
  .wrapper {
    @media #{$small-only} {
      padding: 0;
      max-width: 100%;
    }
  }
  .wrapper--flex {
    @media #{$medium-up} {
      display: flex;
      align-content: center;
    }
  }
  a {
    text-decoration: none;
  }
  .site-title {
    display: block;
    margin: $base-line/2 auto;
    font-size: $base-em * $ms5;
    @media #{$medium-up} {
      margin: 0 auto;
      font-size: $base-em * $ms5;
    }
    font-weight: 600;
    color: #000;
    text-align: center;
    &:hover {
      opacity: 0.88;
      text-decoration: underline;
    }
  }
}

.site-header {
  nav {
    a {
      &:hover,&:focus,&:active {
        text-decoration: none;
        border-bottom: 2px solid #444;
      }
    }
  }
}

// Exergue

.exergue {
  padding: $base-line;
  width: 100%;
  text-align: center;
  color: #fff;
  background: $color-grey-dark;
  small {
    display: block;
    clear: both;
    width: 100%;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}
