////
/// Header
////

// Site Header
.site-header {
  padding: 0.5em 0 0;
  text-align: center;
  @media #{$medium-up} {
    padding-bottom: $base-line;
  }
  .wrapper {
    @media #{$small-only} {
      padding: 0;
      max-width: 100%;
    }
  }
  .wrapper--flex {
    @media #{$medium-up} {
      display: flex;
      align-content: center;
    }
  }
  a {
    text-decoration: none;
  }
  .site-title {
    display: block;
    margin: $base-line/2 auto;
    font-size: $base-em * $ms5;
    @media #{$medium-up} {
      margin: 0 auto;
      font-size: $base-em * $ms5;
    }
    font-weight: 600;
    color: #000;
    text-align: center;
    &:hover {
      opacity: 0.88;
      text-decoration: underline;
    }
  }
}

.site-header {
  nav {
    a {
      &:hover,&:focus,&:active {
        text-decoration: none;
        border-bottom: 2px solid #444;
      }
    }
  }
}

// Navigation main
// inspired https://medium.com/@kollinz/hamburger-menu-alternatives-for-mobile-navigation-a3a3beb555b8#.hg6g5yhtd

.nav-main {
  flex: 1;
  @media #{$small-only} {
    overflow-y: hidden !important;
    height: 40px !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  ul {
    margin: 0;
    padding: 0.3em 0;
    min-width: 100%;
    list-style: none;
    text-align: center;
    @media #{$small-only} {
      display: block;
      white-space: nowrap;
      padding-bottom: 100px !important;
      overflow-y: hidden;
      overflow-x: auto;
    }
    @media #{$medium-up} {
      margin-top: 1rem;
      .wrapper--flex & {
        text-align: right;
      }
    }
  }
  li {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.2rem 1.6rem 0;
  }
  a {
    font-weight: bold;
    & + & {
       margin-left: 1em;
    }
  }
}

// Exergue

.exergue {
  padding: 1em;
  width: 100%;
  text-align: center;
  color: #fff;
  background: $color-grey-dark;
  small {
    display: block;
    clear: both;
    width: 100%;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}
