/* Webfont: Overpass-Bold */
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

/* Webfont: Overpass-BoldItalic */
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}

/* Webfont: Overpass-Light */
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: Overpass-ExtraLight */
@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-ExtraLight.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}