////
/// Layout
////

$gutter: $base-em;
$number: 4; // for equal columns

// Page & Wrapper
// -------------------------

.page {
  padding-bottom: $base-line*4;
}

.page, .wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.wrapper {
  padding-right: $base-line / 2;
  padding-left: $base-line / 2;
  max-width: 40em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 2vmin;
  margin-bottom: $base-line;
}
